body{
    background: whitesmoke;
}

.navbar{
    margin-right: 1px;
    margin-left: 1px;
    padding: 20px;
    background:whitesmoke;
    
}

.navbar li{
    display: d-block;
    padding: 10px;
    margin-right: 1px;
    margin-left: 1px;
    cursor: pointer;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 20px;
}

p{
    font-size: 16px;
}


@media (max-width: 600px){
    .navbar li{
        padding: 10px;
    }
    .box{
        margin-right: 15px;
        margin-left: 15px;

    }
    .navbar ul{
        visibility: hidden;
    }
    #nav-select{
        visibility: visible;
    }
}
